.App {
  overflow-y: scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1));
  background-color: black;
  color: white;
}

.App input{
  margin-top: 20px;
  margin-left: 10px;
  width:20%;
  height: 30px;
  margin: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(242, 239, 239);
  background-color: transparent;
  color: aliceblue;
}

.users{
  margin-left: 50%;
  margin-top: 10px;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
  padding: 5px;
}